/******* homepage client ******/
* {
    margin: 0 auto;
    padding: 0;
}

main, section, nav, footer, header, aside {
    display: block;
}
section p {
    color: #fff;
}
.cover1 {
    width: 100%;
    height: 50%;
    background: url('../images/dinner1.png') no-repeat;
    background-size: 100% 100%;
}
.cover2 {
    width: 100%;
    height: 50%;
    background: url('../images/dinner2.png') no-repeat;
    background-size: 100% 100%;
}
.mainCatgry {
    text-align: center;
    float: left;
    font-size: 4.2em;
    font-family: arial;
}
.cover1 > .mainCatgry {
    margin-top: 20%;
    margin-left: -8%;
}
.cover2 > .mainCatgry {
    margin-top: 30%;
    margin-left: 34%;
}
nav {
    background: rgba(0,0,0,0.2);
    width: 100%;
    height: 120px;
    float: left;
}
nav > section {
    float: left;
    width: 33%;
    height: 100%;
    font-family: arial;
}
nav > section > p {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 35%;
    margin-left: 69%;
}
nav > section > p > span {
    margin-left: 100%;
    font-weight: 100;
}
.btn {
    background: url(../images/menu.png) no-repeat !important;
    width: 14%;
    float: left;
    height: 60px;
    margin-top: 9%;
    border-style: none;
}
.btn-primary {
    background: url(../images/filter.png) no-repeat !important;
    width: 18%;
    height: 25px;
    float: left;
    margin-left: 13%;
    margin-top: 1%;
    border-style: none;
    box-shadow: none;
}
.btn-success {
   background: url(../images/search.png) no-repeat !important;
    float: left;
    width: 21%;
    height: 25px;
    margin-left: 25%;
    border-style: none;
    -webkit-box-shadow: none !important;
}
.sort > .dropdown > .dropdown-menu {
    top: 61px !important;
}
.sort > .dropdown > .left {
    left: -41px;
}
.dropdown-menu {
    top: 117px !important;
    border-radius: 0px !important;
}
.dropdown-menu-right {
    right: 68% !important;
    min-width: 219px !important;
    height: 230px;
}
.dropdown > ul > li > a {
    padding-top: 7px;
    padding-bottom: 7px;
}
.sort > .left > ul {
    text-align: left;
}
.sort > .center > ul {
    text-align: center;
}
.dropdown-menu .divider {
    margin: 9px 18px 0 18px !important;
    background-color: #000 !important;
}
.cover1 > p {
    font-family: arial;
    margin-left: 13%;
    float: left;
    margin-top: 4%;
    font-size: 1.3em;
}
.rangeBarWrapper {
	position: relative;
	width: 100%;
	float: right;
	height: 50px;
	margin-top: -6%;
}

.rangeBar {
	position: absolute;
	bottom: -10px;
	width: 80%;
	left: 10%;
	height: 80%

}
.leftRange {
	position: relative;
	float: left;
	height: 100%;
	width: 15%;
    color: #fff;
}

.rightRange {
	position: relative;
	float: right;
	height: 100%;
    color: #fff;
}

.upLeft {
	position: absolute;
}
.downLeft {
	position: absolute;
    bottom: -4px;
}
.upRight {
	position: absolute;
	right: 0;
}
.downRight {
	position: absolute;
	bottom: -5px;
	right: 0;
}
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
	height: 5px;
    background: #ffffff;
    border-radius: 6px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 16px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    margin-top: 0px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.form-control {
	width: 60%;
}
.btn-warning {
    background-color: #4CBC4C !important;
    background-image: none !important;
    color: #000 !important;
    border-radius: 0px !important;
}
.btn-warning.btn-lg {
    font-size: 21px !important;
    font-weight: bold;
}
#gConnect {
    position: absolute;
    top: 57%;
    left: 46%;
}
.modal-body > p {
    color: #000 !important;
}
.modal-body {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.modal-footer .btn {
    width: 20%;
    margin-top: 0;
    height: 37px !important;
    border: 2px solid #000;
}
.modal-footer {
    padding: 10px !important;
}
.modal-header {
    background: #4CBC4C;
    border-bottom: none !important;
}


/******* timebar template ******/
#timeline1 {
    width: 20px;
    margin-left: 28%;
    display: inline-block;
}
#timeline2 {
    width: 20px;
    margin-left: 26%;
    display: inline-block;
}
#timeline3 {
    width: 20px;
    margin-left: -50%;
    display: inline-block;
}
.span6 > .panels > .panel {
    width: 25% !important;
    margin-left: 8% !important;
    position: relative;
    top: 45px;
    left: 16%;
    background: none !important;
}
.span6 > .panels > .panel-default {
    border: 2px solid #FFFF00;
    float: left;
}
.panels > .panel-default > .panel-body {
    padding: 6px !important;
    text-align: center;
}
.span6 > .timeline {
    position: relative;
    top: 100px;
    right: 21%;
    width: 80%;
}
.span6 > .panels {
   margin-left: 10%;
}
.coverScreen {
    background: linear-gradient(#fffef3, #ffc572);
    height: 748px;
}
.span6 > .panels > .side {
    border: 2px solid #000;
}
.finishRecipe {
    width: 100%;
}
.finishRecipe > img {
    width: 32%;
    height: 125px;
    position: relative;
    top: 100px;
    left: 34%;
    border-radius: 52%;
    border: 4px solid #fff;
}
.finishRecipe > .divider {
    background: #fff;
    height: 1px;
    width: 79%;
    margin-top: 36%;
}
.finishRecipe > p {
    color: #fff;
    font-size: 20px;
    position: relative;
    left: 43%;
    top: -37px;
}
.finishRecipe > li {
    list-style-type: none;
}
.finishRecipe > li > a {
    color: #fff;
    text-decoration: none;
    position: relative;
    top: -18px;
    left: 52%;
}

/******* timebar animation ******/
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

/******* Home Admin Style ******/
.thumbnail > .caption > p > .btn {
    float: none;
    width: 31% !important;
    background: none !important;
    height: 36px !important;
    margin-top: 0 !important;
}
.cover {
    background: url(../images/coverRecipe.jpg) no-repeat center center fixed;
    min-height: 100%;
    background-size: cover;
}
.wrapper {
    background: url(../images/cover.jpg) no-repeat center center fixed;
    position: absolute;
    background-size: 100%;
    min-width: 100%;
}
.row {
    margin: 0px !important;
}
.panel {
    width: 68%;
    margin-left: 4%;
}
.submit {
    float: right;
    margin-right: 10%;
}
.thumbnail > img {
    height: 250px !important;
    width: 100%;
}
h1 {
    margin-left:auto;
    margin-right:auto;
    padding: 10px 0px 20px 0px;
    color: #fff !important;
    border-radius: 5px;
    text-align: center;
    font-size: 3em !important;
}
h1 small {
    color: #fff !important;
}
h2 {
    color: #fff !important;
}
.description {
    width: 55% !important;
}

.description > input[type=text] {
    width: 100%;
}
.panel .btn-default {
    float: right;
}
.steps {
    background: #000;
    opacity: 0.7;
    height: 300px;
}
.steps h2 {
    padding: 1%;
}

.wrapper .page-header {
    border: none;
}

.frame {
    padding-left: 5%;
    color: #000;
    width: 50%;
    margin-left: 15%;
}
.frame ul {
    margin-left: 5%;
}
.stepsAdmin ul > li {
    font-weight: bold;
    color: #00008B;
}
.frame h2 {
    text-decoration: underline;
}
.frame h3 {
    font-weight: bold;
}

/******* Recipe Display Admin Style ******/
.panel > .form-inline > .btn {
    float: none;
    width: 16% !important;
    background: none !important;
    height: 36px !important;
    margin-top: 0 !important;
}
.submit > .btn-primary {
    float: none;
    width: 100% !important;
    background-image: none !important;
    height: 36px !important;
    margin-top: 0 !important;
    background-color: #337ab7 !important;
}


/******* homepage quicky ******/
#logo {
    background: url('../images/logo.png') no-repeat;
    width: 100%;
    height: 220px;
    background-size: 50% 100%;
    position: relative;
    top: 128px;
    left: 26%;
}


@media (min-width: 992px) {
    .col-md-4 {
        width: 25% !important;
        margin-left: 2%;
    }
}
@media (min-width: 768px) {
    .col-sm-6 {
        width: 50%;
    }
}
@media (max-width:590px) {
    #wrapper {
        width: 100%;
        height: 670px;
    }
}
@media (min-width:414px) {
    #wrapper {
        width: 100%;
        height: 736px;
    }
}
@media (min-width: 401px) and (max-width: 736px){
    #logo {
        background: url('../images/logo.png') no-repeat;
        width: 100%;
        height: 220px;
        background-size: 100% 107%;
        position: relative;
        top: 200px;
        left: 3%;
    }
    #gConnect {
        position: absolute;
        top: 55%;
        left: 38%;
    }
    nav > .sort {
        float: right;
        margin-top: 0;
        padding-top: 14%;
    }
    .ingredient {
        background: #fff;
    }
    .ingredient > .frame {
        margin-top: -41%;
        position: relative;
    }
    .ingredient > .frame h2 {
        color: #000 !important;
        text-decoration: none;
    }
    .ingredient > .frame h3 {
        padding-right: 26%;
    }
    .ingredient > .frame > section h3 {
        color: #00B200;
    }
    .ingredient > .frame > p {
        padding-bottom: 4%;
    }
    .ingredient > img {
        width: 100%;
        height: 350px;
        opacity: 0.6;
    }
    .line {
        width: 100%;
        margin-top: 10%;
    }
    .line > p > .min {
        margin-left: 3%;
    }
    .line p {
        padding-left: 26%;
    }
    .line > p > .time {
        border: 2px solid #000;
        margin-left: 3%;
        padding: 4px 15px 4px 15px;
    }
    .dividerPrep {
        height: 4px;
        width: 40%;
        margin-left: 22%;
        display: block;
        background-color: #00FF00;
    }
    .dividerCook {
       height: 4px;
        width: 50%;
        margin-left: 22%;
        display: block;
        background-color: #009900;
    }
    .dividerTotal {
        height: 4px;
        width: 70%;
        margin-left: 22%;
        display: block;
        background-color: #7fff7f;
    }
    .cover1 > .mainCatgry {
        margin-left: -7%;
    }
     .thumbnailVer > a > img {
        width: 100%;
        height: 350px;
        margin-top: -3px;
    }
    .thumbnailVer a {
        text-decoration: none !important;
    }
    .thumbnailVer > a > .caption {
        margin-top: -22%;
        color: #fff;
        text-align: left;
    }
    .thumbnailVer > a > .caption h3 {
        padding-left: 15%;
        padding-right: 16%;
        position: relative;
        top: -67px;
    }
    .navigation {
        position: absolute;
        z-index: 100;
        width: 100%;
    }
    .favorite img {
        width: 40px !important;
        height: 40px !important;
    }
    .favorite {
        position: absolute;
        margin-left: 84%;
        margin-top: 70%;
    }
    .frame {
        width: 80%;
    }
    #timeline2 {
        margin-left: 25%;
    }
    .finishRecipe > .favorite {
        margin-top: 0;
        margin-left: 33%;
        margin-top: -6%;
    }
    .panels > .panel-default > .panel-body {
        font-size: 10px;
    }
    .cover1 > .mainCatgry {
        margin-top: 24%;
    }
}
@media (max-width: 400px) {
    .wrapper {
        background: url(../images/cover.jpg) no-repeat center center fixed;
        position: absolute;
    }
    #logo {
        background: url('../images/logo.png') no-repeat;
        width: 100%;
        height: 220px;
        background-size: 100% 100%;
        position: relative;
        top: 128px;
        left: 3%;
    }
    #gConnect {
        position: absolute;
        top: 50%;
        left: 38%;
    }
    .cover {
        background: url(../images/coverRecipe.jpg) no-repeat fixed;
    }
    .col-sm-6 {
        width: 80%;
        margin-left: 10%;
    }
    h1 small {
        display: block;
        padding-top: 2%;
    }
    .frame {
        width: 80%;
    }
    .description {
        width: 100% !important;
    }
    .description > input[type=text] {
        width: 100%;
    }
    .steps {
        height: 450px;
    }
    .panel .btn-default {
        float: none;
    }
    .frame ul {
        margin-left: 12%;
    }
    .panel {
        margin-left: 17%;
    }
    .panel > .form-inline > .btn {
        width: 33%;
    }
    .navigation {
        position: absolute;
        z-index: 100;
        width: 100%;
    }
    .thumbnailVer > a > img {
        width: 100%;
        height: 350px;
        margin-top: -3px;
    }
    .thumbnailVer a {
        text-decoration: none !important;
    }
    .thumbnailVer > a > .caption {
        margin-top: -22%;
        color: #fff;
        text-align: left;
    }
    .thumbnailVer > a > .caption h3 {
        padding-left: 15%;
        padding-right: 16%;
        position: relative;
        top: -67px;
    }
    .sort {
        float: right;
        margin-top: 0;
        padding-top: 14%;
    }
    .favorite {
        position: absolute;
        margin-left: 84%;
        margin-top: 70%;
    }
    .favorite img {
        width: 40px !important;
        height: 40px !important;
    }
    #slider_value {
        color: #fff;
        margin-right: 48%;
        float: right;
        margin-top: -4%;
        font-weight: bold;
        font-size: 1.5em;
    }
    .ingredient {
        background: #fff;
    }
    .ingredient > .frame {
        margin-top: -44%;
        position: relative;
    }
    .ingredient > .frame h2 {
        color: #000 !important;
        text-decoration: none;
    }
    .ingredient > .frame h3 {
        padding-right: 26%;
    }
    .ingredient > .frame > section h3 {
        color: #00B200;
    }
    .ingredient > .frame > p {
        padding-bottom: 4%;
    }
    .ingredient > img {
        width: 100%;
        height: 350px;
        opacity: 0.6;
    }
    .line {
        width: 100%;
        margin-top: 10%;
    }
    .line > p > .min {
        margin-left: 3%;
    }
    .line p {
        padding-left: 26%;
    }
    .line > p > .time {
        border: 2px solid #000;
        margin-left: 3%;
        padding: 4px 15px 4px 15px;
    }
    .dividerPrep {
        height: 4px;
        width: 40%;
        margin-left: 22%;
        display: block;
        background-color: #00FF00;
    }
    .dividerCook {
       height: 4px;
        width: 50%;
        margin-left: 22%;
        display: block;
        background-color: #009900;
    }
    .dividerTotal {
        height: 4px;
        width: 70%;
        margin-left: 22%;
        display: block;
        background-color: #7fff7f;
    }
    .cover1 > .mainCatgry {
        margin-left: -11%;
    }
    #timeline2 {
        margin-left: 25%;
    }
    .finishRecipe > .favorite {
        margin-top: 0;
        margin-left: 33%;
        margin-top: -6%;
    }
    .panels > .panel-default > .panel-body {
        font-size: 10px;
    }
    .finishRecipe > .divider {
        margin-top: 39%;
    }
}
@media (min-width: 300px) and (max-width: 399px) {
    .span6 > .timeline {
        width: 82%;
    }
}
