/******* homepage client ******/
* {
    margin: 0 auto;
    padding: 0;

}

main, section, nav, footer, header, aside {
    display: block;
}
@media (max-width:590px) {
    #wrapper {
        width: 100%;
        height: 627px;
    }
}
section p {
    color: #fff;
}
.cover1 {
    width: 100%;
    height: 50%;
    background: url('../images/dinner1.png') no-repeat;
    background-size: 100% 100%;
}
.cover2 {
    width: 100%;
    height: 50%;
    background: url('../images/dinner2.png') no-repeat;
    background-size: 100% 100%;
}
.mainCatgry {
    text-align: center;
    float: left;
    font-size: 4.2em;
    font-family: arial;
}
.cover1 > .mainCatgry {
    margin-top: 20%;
    margin-left: -8%;
}
.cover2 > .mainCatgry {
    margin-top: 30%;
    margin-left: 34%;
}
nav {
    background: rgba(0,0,0,0.2);
    width: 100%;
    height: 120px;
    float: left;
}
nav > section {
    float: left;
    width: 33%;
    height: 100%;
    font-family: arial;
}
nav > section > p {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 35%;
    margin-left: 69%;
}
nav > section > p > span {
    margin-left: 100%;
    font-weight: 100;
}
.btn {
    background: url(../images/menu.png) no-repeat !important;
    width: 14%;
    float: left;
    height: 60px;
    margin-top: 9%;
    border-style: none;
}
.btn-primary {
    background: url(../images/filter.png) no-repeat !important;
    width: 17%;
    height: 25px;
    float: left;
    margin-left: 13%;
    margin-top: 1%;
    border-style: none;
}
.btn-success {
   background: url(../images/search.png) no-repeat !important;
    float: left;
    width: 21%;
    height: 25px;
    margin-left: 25%;
    border-style: none;
}
.sort > .dropdown > .dropdown-menu {
    top: 61px !important;
}
.sort > .dropdown > .left {
    left: -31px;
}
.dropdown-menu {
    top: 117px !important;
    border-radius: 0px !important;
}
.dropdown-menu-right {
    right: 91% !important;
}
.sort > .center > ul {
    text-align: center;
}
.dropdown-menu .divider {
    margin: 9px 18px 0 18px !important;
    background-color: #000 !important;
}
.cover1 > p {
    font-family: arial;
    margin-left: 13%;
    float: left;
    margin-top: 4%;
    font-size: 1.3em;
}
.rangeBarWrapper {
	position: relative;
	width: 100%;
	float: right;
	height: 50px;
	margin-top: -6%;
}

.rangeBar {
	position: absolute;
	bottom: -10px;
	width: 80%;
	left: 10%;
	height: 80%

}
.leftRange {
	position: relative;
	float: left;
	height: 100%;
	width: 15%;
    color: #fff;
}

.rightRange {
	position: relative;
	float: right;
	height: 100%;
    color: #fff;
}

.upLeft {
	position: absolute;
}
.downLeft {
	position: absolute;
    bottom: -4px;
}
.upRight {
	position: absolute;
	right: 0;
}
.downRight {
	position: absolute;
	bottom: -5px;
	right: 0;
}

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
	height: 5px;
	background: #ffffff;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: 0px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}


.form-control {
	width: 60%;
}



/******* Home Admin Style ******/

.cover {
    background: url(../images/coverRecipe.jpg) no-repeat center center fixed;
    min-height: 100%;
    background-size: cover;
}
.wrapper {
    background: url(../images/cover.jpg) no-repeat center center fixed;
    position: absolute;
    background-size: 100%;
    min-width: 100%;
}
.row {
    margin: 0px !important;
}
.panel {
    width: 60%;
    margin-left: 4%;
}
.submit {
    float: right;
    margin-right: 10%;
}
.thumbnail > img {
    height: 250px !important;
    width: 100%;
}
h1 {
    margin-left:auto;
    margin-right:auto;
    padding: 10px 0px 20px 0px;
    color: #fff !important;
    border-radius: 5px;
    text-align: center;
    font-size: 3em !important;
}
h1 small {
    color: #fff !important;
}
h2 {
    color: #fff !important;
}

.description {
    width: 60% !important;
}

.description > input[type=text] {
    width: 100%;
}
.panel .btn-default {
    float: right;
}
.steps {
    background: #000;
    opacity: 0.7;
    height: 300px;
}
.steps h2 {
    padding: 1%;
}

.wrapper .page-header {
    border: none;
}

.frame {
    padding-left: 5%;
    color: #000;
    width: 50%;
    margin-left: 15%;
}
.frame ul {
    margin-left: 5%;
}
.stepsAdmin ul > li {
    font-weight: bold;
    color: #00008B;
}
.frame h2 {
    text-decoration: underline;
}
.frame h3 {
    font-weight: bold;
}

@media (min-width: 992px) {
    .col-md-4 {
        width: 25% !important;
        margin-left: 2%;
    }
}
@media (min-width: 768px) {
    .col-sm-6 {
        width: 50%;
    }

}
@media (max-width: 400px) {
    .wrapper {
        background: url(../images/cover.jpg) no-repeat center center fixed;
        position: absolute;
    }
    .cover {
        background: url(../images/coverRecipe.jpg) no-repeat fixed;
    }
    .col-sm-6 {
        width: 80%;
        margin-left: 10%;
    }
    h1 small {
        display: block;
        padding-top: 2%;
    }
    .frame {
        width: 80%;
    }
    .description {
        width: 100% !important;
    }
    .description > input[type=text] {
        width: 100%;
    }
    .steps {
        height: 450px;
    }
    .panel .btn-default {
        float: none;
    }
    .frame ul {
        margin-left: 12%;
    }
    .panel {
        margin-left: 17%;
    }
    .navigation {
        position: absolute;
        z-index: 100;
        width: 100%;
    }
    .thumbnailVer > a > img {
        width: 100%;
        height: 350px;
    }
    .thumbnailVer a {
        text-decoration: none !important;
    }
    .thumbnailVer > a > .caption {
        margin-top: -22%;
        color: #fff;
        text-align: left;
    }
    .thumbnailVer > a > .caption h3 {
        padding-left: 15%;
        padding-right: 16%;
        position: relative;
        top: -67px;
    }
    .sort {
        float: right;
        margin-top: 0;
        padding-top: 14%;
    }
    #wrapper {
        margin-top: -5%;
    }
    .favorite {
        position: absolute;
        margin-left: 84%;
        margin-top: 70%;
    }
    .favorite img {
        width: 40px !important;
        height: 40px !important;
    }
    #slider_value {
        color: #fff;
        margin-right: 48%;
        float: right;
        margin-top: -4%;
        font-weight: bold;
        font-size: 1.5em;
    }
    .ingredient {
        background: #fff;
    }
    .ingredient > .frame {
        margin-top: -39%;
    }
    .ingredient > .frame h2 {
        color: #000 !important;
    }
    .ingredient nav {
        background: #
    }
    .ingredient > .frame h3 {
       padding-right: 26%;
    }
    .ingredient > img {
        width: 100%;
        height: 350px;
    }
}

