<div id="wrapper" ng-controller="ClientHome">
	<nav>
       <div class="dropdown">
           <button class="btn dropdown-toggle" type="button" data-toggle="dropdown"></button>
            <ul class="dropdown-menu">
              <li><a href="#">Profile</a></li>
              <li class="divider"></li>
              <li><a href="#">My Recpies</a></li>
              <li class="divider"></li>
              <li><a href="#">Setting</a></li>
            </ul>
       </div>
	   <section>
		   <p>quicky<br><span>vegan</span></p>
	   </section>
	   <section class="sort">
		   <div class="dropdown center">
               <button class="btn-success dropdown-toggle" type="button" data-toggle="dropdown"></button>
               <ul class="dropdown-menu dropdown-menu-right center">
                   <li><a href="#">Breakfast</a></li>
                   <li class="divider"></li>
                   <li><a href="#">Lunch</a></li>
                   <li class="divider"></li>
                   <li><a href="#">Dinner</a></li>
                   <li class="divider"></li>
                   <li><a href="#">Snack</a></li>
                   <li class="divider"></li>
                   <li><a href="#">Dessert</a></li>
               </ul>
           </div>
		   <div class="dropdown">
               <button class="btn-primary dropdown-toggle" type="button" data-toggle="dropdown"></button>
               <ul class="dropdown-menu left">
                   <li><a href="#">Time</a></li>
                   <li class="divider"></li>
                   <li><a href="#">Popular</a></li>
                   <li class="divider"></li>
                   <li><a href="#">Easy quicky</a></li>
               </ul>
           </div>
	   </section>
	</nav>
	<section class="cover1">
		<p>How much time<br>do yo have?</p>
		<h1 class="mainCatgry" ng-click="getAllModified()">Cook</h1>
	</section>
	<div class="rangeBarWrapper">
	<span id="slider_value"></span>
		<div class="rangeBar">
			<input id="timeInput" type="range" min=5 max=30 value=15 onchange="show_value(this.value);">
			<div class="leftRange">
				<p class="upLeft"></p>5<br>
				<p class="downLeft">min</p>
			</div>
			<div class="rightRange">
				<p class="upRight">30</p>
				<p class="downRight">max</p>
			</div>
		</div>
	</div>
	<section class="cover2">
		<h1 class="mainCatgry">Order</h1>
	</section>
</div>
