<div id="wrapper" ng-controller="ClientHome">
	<nav>
	   <section class="hamburger">
		   <div class="menu"></div>
		   <div class="menu"></div>
		   <div class="menu"></div>
	   </section>
	   <section>
		   <p>quicky<br><span>vegan</span></p>
	   </section>
	   <section class="sort">
		   <div class="search"></div>
		   <div class="filter"></div>
	   </section>
	</nav>
	<section class="cover1">
		<p>How much time<br>do yo have?</p>
		<h1 class="mainCatgry" ng-click="getAllModified()">Cook</h1>
	</section>
	<div class="rangeBarWrapper">
		<div class="rangeBar">
			<input id="timeInput" type="range" min=5 max=30 value=15>
			<div class="leftRange">
				<p class="upLeft"></p>5<br>
				<p class="downLeft">min</p>
			</div>
			<div class="rightRange">
				<p class="upRight">30</p>
				<p class="downRight">max</p>
			</div>
		</div>
	</div>
	<section class="cover2">
		<h1 class="mainCatgry">Order</h1>
	</section>
</div>
