<div id="wrapper" class="ingredient">
    <div class="navigation">
        <nav>
       <div class="dropdown">
           <button class="btn dropdown-toggle" type="button" data-toggle="dropdown"></button>
            <ul class="dropdown-menu">
              <li><a href="#">Profile</a></li>
              <li class="divider"></li>
              <li><a href="#">My Recpies</a></li>
              <li class="divider"></li>
              <li><a href="#">Setting</a></li>
            </ul>
       </div>
	   <section>
		   <p>quicky<br><span>vegan</span></p>
	   </section>
	   <section class="sort">
		   <div class="dropdown center">
               <button class="btn-success dropdown-toggle" type="button" data-toggle="dropdown"></button>
               <ul class="dropdown-menu dropdown-menu-right center">
                   <li><a href="#">Breakfast</a></li>
                   <li class="divider"></li>
                   <li><a href="#">Lunch</a></li>
                   <li class="divider"></li>
                   <li><a href="#">Dinner</a></li>
                   <li class="divider"></li>
                   <li><a href="#">Snack</a></li>
                   <li class="divider"></li>
                   <li><a href="#">Dessert</a></li>
               </ul>
           </div>
		   <div class="dropdown">
               <button class="btn-primary dropdown-toggle" type="button" data-toggle="dropdown"></button>
               <ul class="dropdown-menu left">
                   <li><a href="#">Time</a></li>
                   <li class="divider"></li>
                   <li><a href="#">Popular</a></li>
                   <li class="divider"></li>
                   <li><a href="#">Easy quicky</a></li>
               </ul>
           </div>
	   </section>
	</nav>
    </div>
    <img src="{{correctRecipe.imageURL}}" alt="">
    <div class="frame">
        <h3>{{correctRecipe.displayName}}</h3>
        <p>{{correctRecipe.description}}</p>
        <h2>Main</h2>
        <section>
            <h3>{{correctRecipe.ingredients.main.kind}}</h3>
            <ul>
                <li ng-repeat="ingredient in correctRecipe.ingredients.main.ingredients">{{ingredient.name}} - {{ingredient.quantity}}</li>
            </ul>
        </section>
        <h2>Side</h2>
        <section>
            <h3>{{correctRecipe.ingredients.side.kind}}</h3>
            <ul>
                <li ng-repeat="ingredient in correctRecipe.ingredients.side.ingredients">{{ingredient.name}} - {{ingredient.quantity}}</li>
            </ul>
        </section>
        <h3>Preparation Steps</h3>
        <section class="stepsAdmin">
            <ul>
                <li ng-repeat="step in correctRecipe.steps.preparation">{{step.action}} - {{step.time}} min</li>
            </ul>
        </section>
        <h3>Cooking Steps</h3>
        <section class="stepsAdmin">
            <ul>
                <li ng-repeat="step in correctRecipe.steps.cooking">{{step.action}} - {{step.time}} min</li>
            </ul>
        </section>
    </div>
</div>
