<div id="wrapper">
   <div class="navigation">
        <nav class="navbar-fixed-top">
           <section class="hamburger">
               <div class="menu"></div>
               <div class="menu"></div>
               <div class="menu"></div>
           </section>
           <section>
               <p>quicky<br><span>vegan</span></p>
           </section>
           <section class="sort">
               <div class="search"></div>
               <div class="filter"></div>
           </section>
        </nav>
    </div>
    <div class="thumbnailVer" ng-repeat="recipe in modifiedRecipes">
         <a ui-sref="specificRecipe({recipeName: recipe.name})">
              <div class="favorite">
                <img src="../images/favorite.png" alt="favorite" ng-click="addToFavorite(recipe.name)">
              </div>
              <img src="{{recipe.imageURL}}" alt="image of recipe">
              <div class="caption">
                <h3>{{recipe.displayName}}</h3>
              </div>
          </a>
    </div>
</div>
