<!DOCTYPE html>
<html lang="en" ng-app="quicky">
<head>
    <meta charset="UTF-8">
    <title>Quicky App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css"  href="../css/bootstrapstyle.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
</head>
<body class="cover" ng-controller="quickyCtrl">
    <div class="page-header">
       <h1> Quicky Vegan <small>Admin {{name}}'s</small></h1>
    </div>
       <div class="row">
          <div class="col-sm-6 col-md-4" ng-repeat="recipe in notModified.recipes">
            <div class="thumbnail">
              <img src="{{recipe.imageURL}}" alt="image of recipe">
              <div class="caption">
                <h3>Recipe</h3>
                <p ng-model="recipeName">{{recipe.displayName}}</p>
                <p>
                   <a href="#displayRecipe/{{recipe.name}}" class="btn btn-default" role="button">Display</a>
                </p>
              </div>
            </div>
          </div>
        </div>
    <div ng-view></div>
    <a href="#" class="scroll-down-button">
        <span>
        </span>
        "scroll"
    </a>
   <script src="../js/lib/angular/angular.min.js"></script>
   <script src="../js/lib/angular/angular-route.min.js"></script>
   <script src="../js/appController.js"></script>
</body>
</html>
