* {
    margin: 0 auto;
    padding: 0;
    color: #ffffff;
}

main, section, nav, footer, header, aside {
    display: block;
}
@media (max-width:590px) {
    #wrapper {
        width: 100%;
        height: 627px;
    }
}
.cover1 {
    width: 100%;
    height: 50%;
    background: url('../images/dinner1.png') no-repeat;
    background-size: 100% 100%;
}
.cover2 {
    width: 100%;
    height: 50%;
    background: url('../images/dinner2.png') no-repeat;
    background-size: 100% 100%;
    position: relative;
}
.mainCatgry {
    text-align: center;
    float: left;
    font-size: 4.2em;
    font-family: arial;
    margin-left: 25%;
}
.cover1 > .mainCatgry {
   margin-top: 4%;
}
.cover2 > .mainCatgry {
   margin-top: 30%;
}
nav {
    background: rgba(0,0,0,0.2);
    width: 100%;
    height: 120px;
    float: left;
}
nav > section {
    float: left;
    width: 33%;
    height: 100%;
    font-family: arial;
}
nav > section > p {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 35%;
    margin-left: 10%;
}
nav > section > p > span {
    margin-left: 20%;
    font-weight: 100;
}
.hamburger {
    padding-top: 15%;
}
.menu {
    background: #ffffff;
    width: 20%;
    height: 4px;
    margin-top: 2.5%;
    border-radius: 4px;
}
.search {
    background: url(../images/search.png) no-repeat;
    width: 21%;
    height: 25px;
    margin-left: 25%;
    float: left;
}
.filter {
    background: url(../images/filter.png) no-repeat;
    width: 17%;
    height: 25px;
    float: left;
    margin-left: 13%;
    margin-top: 1%;
}
.sort {
    margin-top: 15%;
}
.cover1 > p {
    font-family: arial;
    margin-left: 13%;
    float: left;
    margin-top: 4%;
    font-size: 1.3em;
}
.line {
    height: 3px;
    width: 75%;
    background: #ffffff;
    border-radius: 4px;
}
